 /*
	New style for new twitgreen look and feel
	Copyright 2014 Kunwidy and the blaem blaem
	http://www.twitgreen.com
*/

/*Custom Navbar*/
.twt4-bar{
    min-height: 47px !important;
    padding-top: 7px;
    background: #34495E;
}
ul.nav li:hover{
       background: none;
       border-radius: 0px;
}
ul.nav li a.topnav2{
    color: #fff;
    text-shadow: none;
}

ul.nav li a.topnav2:hover{
    color: #A5EB18;
}

a.topnav2{
    font-weight: bold;
    font-size: 15px;

}

.navbar .twit-brand{
    color: #A5EB18;
    text-shadow: 1px 1px 1px #27ae60;
    font-weight: bold;
    font-size: 21px;
}


/*Responsive Big Maps*/
.big-maps-wrapper{
	 z-index: 500;
     position: relative;
     margin: 0;
}
.Flexible-container {
    position: relative;
    padding-bottom: 26%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*FEATURED PROJECT HOME*/
.big-project-wrapper{
    margin-top: -160px;
    z-index: 1000;
    position: relative;
}

.twit-feat-project-box{
    background: #27ae60;
    margin: 0;
    padding-bottom: 7px;
    -webkit-box-shadow: 0 8px 6px -1px #333;  /* << set custom css box shadow */
  -moz-box-shadow: 0 8px 6px -1px #333;  /* << set custom css box shadow */
  box-shadow: 0 8px 6px -1px #333;   /* << set custom css box shadow */
}
h3.mini-title{
    font-size: 14px;
    font-weight: bold;
}
.head-feat-project{
    background: #fff;
    padding: 5px;
}
.foot-feat-project{

}
.img-home-mini{
    width: 100px;
}
ul.feat-project-infos{
    list-style: none;
    margin: 0;
    padding: 5px;
}
ul.feat-project-infos li{
    color: #fff;
}

.new-featured-prjc{
    margin-bottom: 40px;
}

/*CALL TO ACTION 1*/
.twit-how-prj-box{
    background: #fff;
    margin-bottom: 0;
}
.twit-how-join-box{
    background: #DFDFD9;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 0;
}

/*LIST NEW PROJECT*/
.new-project{
}

/*/Paralax*/
*[class^="prlx"] {
  position: absolute;
  width: 100%;
  height: 155%;
  top:0;
  left:0;
  z-index: -1;
}
.prlx-1{ background: #73B6E6;}
.prlx-2{ background: url(../img/relawan-bg.jpg) no-repeat top center; }
.prlx-3{ background: url(../img/sponsor-bg.jpg) no-repeat top center; }




/*PAGE MENJADI RELAWAN*/
.twit-page-header{
    margin-top: 120px;
    margin-bottom: 190px;
}


/*FOOTER*/
.footer-widget-wrapper{
    background: #34495e;
    padding: 10px 0 30px 0;
    margin-bottom: 0px;
}

ul.footer-widget-list{

list-style: none;
margin: 0 0 15px 0;
padding: 0;
}

.footer-wrapper{
    background: #2c3e50;
    padding: 10px 0;
    margin-bottom: -40px;

}

.text-white{
    color: #fff;
}